@import url(https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700&display=swap);

html {
  font-family: 'Poppins', sans-serif;
}

li {
  list-style: none;
}

header {
  align-items: center;
  padding: 20px 20px;
  display: flex;
  background-color: #f0f0f0;
  justify-content: space-between;
}

.header-nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

