---
layout: default
---

<div class="home">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <iframe src="https://calendar.google.com/calendar/embed?height=550&wkst=1&ctz=Australia%2FSydney&bgcolor=%23ffffff&showTz=0&showPrint=0&showNav=0&showCalendars=0&title=German%20Club&showTitle=0&src=Y18yNjM0NjdkZDE0MjNlOGIyMzYzNzQ0NWQ2ZmM0NThlMmRmMWEwZGVhOTRkMDI0Yzg4MmNlM2UxMTkyMmU0M2U1QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y19kZTg3OTBjM2FmMWUxNTk4ZjIyOGU0NmRjMDA4ZWFkMjk0OThmMTE3MmU2MWZiMTM3OGRlN2IyNDQwY2U2YjJjQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y183MzFlYmJkNmRhNjRlMWY5YzE3YmM2NWVjYzk0YjhiZDI4Mzk4YWQzZjA3NmQ0ZWNkYjFiZmZkYjIxZDlmNDgyQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23009688&color=%23D81B60&color=%237986CB" style="border-width:0" width="730" height="550" frameborder="0" scrolling="no"></iframe>

  {{ content }}
  
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
