---
layout: default
---

<div class="home">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <iframe src="https://calendar.google.com/calendar/embed?height=500&wkst=1&ctz=Australia%2FSydney&bgcolor=%23ffffff&showTitle=0&showNav=0&showPrint=0&showTz=0&mode=MONTH&showCalendars=0&src=YmY4ZDI1YThkMDdkYWE4M2JjZmVlYjkzNjdhODQ1MTI2ZjU2YjFjNjU5Njk0NDk1MTRjMDMxNzhmOTM5MGQ0ZEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23D50000" style="border-width:0" width="650" height="500" frameborder="0" scrolling="no"></iframe>
  
  {{ content }}
  
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
