---
layout: default
---
<article class="lesson h-entry" itemscope itemtype="http://schema.org/Bloglessoning">

  <header class="lesson-header">
    <h1 class="lesson-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="lesson-meta">
      <time class="dt-published" itemprop="datePublished">
          Term {{ page.term }}, Week {{ page.week }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="lesson-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
  